body {
    font-family: 'Sen', serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: mediumpurple;
    overflow: hidden;
    text-align: right;
    padding: 0;
    margin: 0;
}

.header li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.header a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

.header a:hover {
    text-decoration: underline;
}

.logo {
    margin-top: 20px;
    width: 150px;
    height: 100px;
}

.search {
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.search-icon {
    margin-left: -25px;
    width: 30px;
    height: 30px;
    z-index: 1;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 980px;
    height: 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 5px;
    position: relative;
    font-weight: bold;
    margin-right: 15px;
    margin-left: 270px;
}

.account-logo {
    margin-right: 15px;
}

.account-logo i, .cart-logo i {
    font-size: 32px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
    left: auto;
}

.dropdown-content-item {
    font-weight: bold;
}

.navigation-bar {
    margin-top: -20px;
    padding: 5px;
    background-color: #f3f0f0;
}

.navigation-bar-list {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.navigation-bar-list li {
    list-style-type: none;
}

.navigation-bar-list li a {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.navigation-bar-list a:hover {
    color: purple;
    text-decoration: underline;
}

.bi-bookmark {
    font-weight: bold;
    font-size: 20px;
}

.bi-person, .bi-cart {
    color: black;
}

.bi-person:hover, .bi-cart:hover {
    color: mediumpurple;
}

.kategorie-dropdown {
    position: relative;
    display: inline-block;
}

.kategorie-dropdown-content {
    background-color: white;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.kategorie-dropdown .kategorie-dropdown-content a {
    margin: 0;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.kategorie-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.kategorie-dropdown:hover .kategorie-dropdown-content {
    display: block;
}

.velky-nadpis {
    background-color: mediumpurple;
    margin: 0;
    padding: 15px;
}

.velky-nadpis p {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.footer {
    padding: 10px;
    color: white;
    background-color: mediumpurple;
    text-align: left;
}

.footer ul {
    list-style-type: none;
}

.footer-info1, .footer-info2, .footer-info3, .footer-info4 {
    display: inline-block;
    vertical-align: top;
}

.footer-info1, .footer-info2, .footer-info3 {
    border-right: 1px solid white;
}

.footer-info1 li:hover:not(:first-child):not(:nth-child(1)),
.footer-info2 li:hover:not(:first-child):not(:nth-child(1)) {
    text-decoration: underline;
}

.footer ul li {
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 17px;
}

.footer-info1 li:nth-child(n + 2) a,
.footer-info2 li:nth-child(n + 2) a {
    text-decoration: none;
    color: white;
}

.footer-info3 {
    width: 500px;
}

.footer-info3 p {
    word-wrap: break-word;
}

.footer-info1 li:nth-child(1),
.footer-info2 li:nth-child(1),
.footer-info3 li:nth-child(1),
.footer-info4 li:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
}

.footer-info4 a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.footer-info4 a:hover {
    text-decoration: underline;
}

.footer-info1 li:nth-child(n+2),
.footer-info2 li:nth-child(n+2),
.footer-info3 li:nth-child(n+2),
.footer-info4 li:nth-child(n+2) {
    margin-bottom: 20px;
}


.podnadpis ul li {
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
    margin-bottom: -30px;
}

.maly-produkt-form ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.maly-produkt-form ul li {
    flex: 1;
    padding: 10px;
    width: 100px;
    height: 150px;
    box-shadow: 0 4px 6px mediumpurple;
    margin: 10px;
}

.maly-produkt-form ul li a {
    text-decoration: none;
    color: inherit;
}

.maly-produkt-form ul li div {
    text-align: left;
    list-style-type: none;
    flex: 1;
    padding: 0;
    margin: 0;
}

.maly-produkt-form ul li div ul li img {
    width: 100px;
    height: 100px;
    box-shadow: none;
}

.maly-produkt-form ul li div ul li {
    text-align: center;
    box-shadow: none;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
}

.maly-produkt-form > ul > li:hover {
    box-shadow: 0 4px 6px #bbbb4d;
    transform: scale(1.02);
    transition: transform 0.3s;
}

.podnadpis ul li {
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
    margin-bottom: -30px;
}

.podnadpis {
    border-top: 2px solid purple;
}

.benefit-uvod {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.benefit-item {
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.benefit-obrazok {
    margin-right: 10px;
}

.uvodne-obrazky-content {
    display: flex;
}

.uvodne-obrazky-column {
    display: flex;
    flex: 1;
    padding: 0;
}

.uvodne-obrazky-column a {
    text-decoration: none;
}

.uvodne-obrazky-column img {
    border-radius: 10px;
    display: block;
    margin: 15px;
}

.uvodne-obrazky-column img:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
}

.produkt-form {
    display: flex;
    flex-wrap: wrap;
}

.produkt {
    width: 300px;
    box-shadow: 0 4px 6px mediumpurple;
    height: 250px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.produkt:hover {
    box-shadow: 0 4px 6px #bbbb4d;
    transform: scale(1.02);
    transition: transform 0.3s;
}

.produkt div:nth-child(2) {
    font-weight: bold;
    font-size: 1.1em;
}

.produkt-button button {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.produkt-obrazok img {
    cursor: pointer;
}

.filter-row {
    background-color: #f0f0f0;
    font-size: 20px;

}

.filter-option {
    display: inline-block;
    margin: 20px;
}


@media (max-width: 768px) {
    .navigation-bar-list {
        flex-direction: column;
        text-align: center;
    }

    .navigation-bar-list li {
        margin: 12px;
    }

    .uvodne-obrazky-column img {
        display: none;
    }

    .benefit-uvod {
        display: block;
    }

    .produkt-form {
        justify-content: center;
    }

    .footer-info1,
    .footer-info2,
    .footer-info3 {
        display: block;
        border-right: none;
        border-bottom: 1px solid white;
    }

    .search .logo img {
        display: none;
    }

    .search .logo + * {
        margin-left: 0;
    }

    .logo {
        width: 0;
    }
}