.vytvorenie-uctu-nadpis {
    background-color: mediumpurple;
    margin: 0;
    padding: 15px;
    height: 126px;
}

.vytvorenie-uctu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.vytvorenie-uctu-form {
    background-color: white;
    width: 500px;
    height: 720px;
}

.vytvorenie-uctu-form ul {
    margin-left: 15px;
    list-style: none;
    padding: 10px;
    text-align: left;
}

.vytvorenie-uctu-form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.vytvorenie-uctu-form input:focus {
    background-color: lightcyan;
}

.vytvorenie-uctu-form li {
    margin-bottom: 12px;
}

.vytvorenie-uctu-form li:nth-child(1) {
    font-weight: bold;
    font-size: 25px;
}

.vytvorenie-uctu-form li:nth-child(2),
.vytvorenie-uctu-form li:nth-child(6) {
    font-weight: bold;
    font-size: 17px;
}

.vytvorenie-uctu-form .send-button {
    display: block;
    margin: 0 auto;
}

.filler {
    height: 690px;
}

.vytvorenie-uctu-form,
.vytvorenie-uctu img {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
    .vytvorenie-uctu img {
        display: none;
    }
}