.zmena-hesla-form {
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 250px;
    margin: auto;
    border-color: black;
    margin-top: 35px;
    margin-bottom: 50px;
}

.zmena-hesla-form li {
    margin-bottom: 12px;
}

.zmena-hesla-form li:nth-child(1) {
    font-weight: bold;
    font-size: 25px;
}

.zmena-hesla-form .send-button {
    display: block;
}

.zmena-hesla-form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.zmena-hesla-nadpis {
    background-color: mediumpurple;
    margin: 0;
    padding: 15px;
    height: 126px;
}

.zmena-hesla-form li label {
    text-align: left;
    font-weight: bold;
}

.zmena-hesla-form textarea {
    margin-top: 10px;
    height: 50px;
    width: 93%;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
    resize: vertical;
    max-height: 1%;
}

.zmena-hesla-form ul {
    margin-left: 15px;
    list-style: none;
    padding: 10px;
    text-align: left;
}

.filler {
    height: 500px;
}

.send-button {
    background-color: darkmagenta;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-bottom: 15px;
}